@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url('./assets/Vector.png');
    background-size: cover;
    user-select: none;
}
.navbar a{
    text-decoration: none;
    padding: 16px;
}
.mercury, .sun, .venus, .earth, .mars, .jupiter, .saturn, .uranus, .neptune, .planet {
    background-image: url('./images/stars.png');
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: blueviolet;
}
::-webkit-scrollbar-track {
    background-color: #100a33;
    width: 50px;
}

@media (max-width: 640px) {
    section{
        background-image: url('./images/stars.png');
        background-size: contain;
    }
}

.movement{
    animation-duration: 2s;
    animation-name: planets;
    animation-iteration-count: infinite;
}

@keyframes planets {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(5px);
        
    }
    100%{
        transform: translateY(0px);
    }
}