@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url('./assets/Vector.png');
    background-size: cover;
}
.navbar a{
    text-decoration: none;
    padding: 16px;
}
.mercury, .sun, .venus, .earth, .mars, .jupiter, .saturn, .uranus, .neptune, .planet {
    background-image: url('./images/stars.png');
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: blueviolet;
}
::-webkit-scrollbar-track {
    background-color: #2f093f;
    width: 50px;
}
